@import url("fonts/stylesheet.css");

/* COMMON */

button {
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
body {
  overflow-x: hidden;
  font-family: "Muller", sans-serif;
}
/* HEADER */

.header {
  padding: 15px 0px;
  box-shadow: 0px 3px 15px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 130px;
}
.header__inner {
  padding: 0 20px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.nav {
  font-size: 16px;
  color: #a46b00;
}
.logo {
  display: flex;
  align-items: center;
  margin-right: 250px;
}
.logo__text {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 900;
  color: #ffc468;
}
.nav__menu {
  display: flex;
}
.nav__item {
  margin-right: 50px;
}

/* PREVIVEW */

.product-description {
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}
.product-description__title {
  color: #ffaf18;
  font-size: 45px;
  font-weight: 800;
  font-style: normal;
  line-height: 55px;
  margin-bottom: 50px;
  span {
    color: #b99150;
  }
}

.product-description__features {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 60px;
}
.feature {
  display: flex;
  max-width: 300px;
}
.feature img {
  padding-right: 10px;
}
.feature__title {
  color: #ffaf18;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 10px;
}
.feature__description {
  color: #b99150;
}
.product-description button {
  color: #020303;
  padding: 20px 50px;
  background-color: #ffaf18;
  font-weight: bold;
  font-style: normal;
}
.product-description button:hover {
  background-color: #fee0a8;
  transition: 0.2s;
}

.product-description__image img {
  padding: 30px;
}
/* LIST PIZZA */

.pizza-list__title {
  text-align: center;
  color: #bd985c;
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 60px;
}

.pizza-list__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  flex-wrap: wrap;
}

.pizza-item {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  box-shadow: 0px 3px 15px 2px rgba(0, 0, 0, 0.2);
}
.pizza-item__image {
  width: 100%;
  height: 160px;
  margin-bottom: 25px;
}

.pizza-item__title {
  color: #382400;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 15px;
}
.pizza-item__description {
  color: #181a1a;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 18px;
}
.button--add {
  color: #020303;
  padding: 15px 80px;
  background-color: #ffaf18;
  font-weight: bold;
  font-style: normal;
}
.button--add:hover {
  background-color: #fee0a8;
  transition: 0.2s;
}

/* FOOTER */

footer {
  margin-top: 100px;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.footer__text {
  color: #b99150;
  line-height: 24px;
  width: 385px;
}
.footer__title {
  color: #b99150;
  font-weight: 800;
  font-style: normal;
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 75px;
}
.footer__title span {
  color: #ffaf18;
}

.footer__image {
  position: relative;
  right: -150px;
}
.footer__image img {
  width: 100%;
  height: auto;
}

.order-form__form {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}

.order-form__form input {
  margin-bottom: 25px;
}
.order-form__form button {
  color: #020303;
  padding: 25px 0px;
  width: 100%;
  background-color: #ffaf18;
  font-weight: bold;
  font-style: normal;
}
.order-form__form button:hover {
  background-color: #fee0a8;
  transition: 0.2s;
}

.order-form__form input[type="text"],
.order-form__form input[type="tel"] {
  height: 60px;
  width: 330px;
  padding-left: 20px;
  font-size: 16px;
  color: #cba86e;
  border: 1px solid #b99150;
  box-sizing: border-box;
}

.order-form__form input[type="text"]::placeholder,
.order-form__form input[type="tel"]::placeholder {
  color: #cba86e;
}

/* POPUP */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup__content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.popup__close {
  margin-top: 10px;
  padding: 10px 20px;
  background: #f1f1f1;
  border: none;
  cursor: pointer;
}

/* BURGER */
.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 21px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.close-menu {
  display: none;
}
.burger-menu__line {
  width: 100%;
  height: 3px;
  background-color: #ffaf18;
}

/* LIGHTBOX CUSTOM STYLE */
.fancybox-slide--image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100vh;
  width: auto;
  height: auto;
}

.lightbox {
  height: 90vh !important;
}
.lightbox img {
  border: none !important;
  height: 100% !important;
}
.lb-outerContainer {
  display: flex !important;
  justify-content: center;
  height: 90vh !important;
  width: 90vw !important;
  background: rgba(0, 0, 0, 0) !important;
}
.lb-image {
  width: 100% !important;
  height: 100% !important;
}
.lb-dataContainer {
  position: relative;
  top: -14px;
}


/* MEDIA FOOTER, PIZZA LIST */
@media (max-width: 1200px) {
  .pizza-list__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__wrapper {
    position: relative;
    justify-content: center;
  }
  .footer__image {
    width: 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
  }
}


/* MEDIA HEADER */
@media (max-width: 1080px) {
  .nav__item {
    margin-right: 20px;
  }
  .logo {
    margin-right: 150px;
  }
  .product-description {
    flex-direction: column;
  }
}
/* MEDIA PIZZA LIST */
@media (max-width: 900px) {
  .pizza-list__wrapper {
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MEDIA HEADER, DESCRIPTION, FOOTER */
@media (max-width: 800px) {
  .nav__item {
    margin-right: 10px;
  }
  .logo {
    margin-right: 50px;
  }
  .product-description {
    flex-direction: column;
  }
  .product-description__title {
    font-size: 30px;
    line-height: 40px;
  }
  .product-description__features {
    gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 40px;
  }
  .product-description__image img {
    max-width: 100%;
    height: auto;
  }
  .footer__title {
    margin-bottom: 40px;
  }
  .order-form__form {
    margin: 40px 0px;
  }
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

/* MEDIA BURGER */
@media (max-width: 670px) {
  .header {
    margin-bottom: 50px;
  }
  .header__inner {
    padding: 0 30px;
    justify-content: space-between;
  }
  .nav {
    display: none;
    background-color: #fff;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.2);
  }

  .nav.active {
    display: flex;
    position: absolute;
    right: 0;
    width: 100%;
    top: 90px;
  }

  .burger-menu {
    display: flex;
  }
  .burger-menu {
    display: flex;
  }
  .nav__menu {
    flex-direction: column;
    width: 100%;
  }
  .nav__item {
    width: 100%;
    padding: 10px 0;
  }
  .nav__link {
    display: block;
    width: 100%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: #000;
  }
  .pizza-list__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin: 0 auto;
    width: 70%;
  }
  .footer__text {
    padding: 0 15px;
  }
  .lightbox img {
    height: 50% !important;
  }
}




